# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Popular languages for Data Scientists
- Commonly used libraries by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools      |
|--------------------------|
| Jupyter Notebook         |
| RStudio                 |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Viktoriia Sharapa